<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#875A7B;">Convert the amount to words</h2>
      <h3 class="oe_slogan">This module print the total amount in words, in Quotation, Sale Order, Pro-format and invoice, in the partner language.</h3>
    </div>
  </div>
</section>

<br/>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h3 class="oe_slogan">English Example</h3>
    
    <div class="oe_span12 text-center">
      <p class="oe_mt32">
 	<font style="font-size: 120%;">
	  Her you can see an example with english conversion of the amount to words.
	</font>
      </p>		
    </div>
    <div class="oe_screenshot" align="center">
      <img style="max-width: 80%" src="amount_to_words_en.png"/>
    </div>
  </div>
</section>

<br/>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h3 class="oe_slogan">مثال بالعربية</h3>
    
    <div class="oe_span12 text-center">
      <p class="oe_mt32">
 	<font style="font-size: 120%;">
	  هذا مثال عن تحويل مبلغ الفاتورة من الأرقام إلى الحروف.
	</font>
      </p>		
    </div>
    <div class="oe_screenshot" align="center">
      <img style="max-width: 80%" src="amount_to_words_ar.png"/>
    </div>
  </div>
</section>

<br/>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h3 class="oe_slogan">Example en Français</h3>
    
    <div class="oe_span12 text-center">
      <p class="oe_mt32">
 	<font style="font-size: 120%;">
	Ici un example en Français qui converti le montant total en lettres.
	</font>
      </p>		
    </div>
    <div class="oe_screenshot" align="center">
      <img style="max-width: 80%" src="amount_to_words_en.png"/>
    </div>
  </div>
</section>

<br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Need help with odoo?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:bessam.dj@gmail.com">email</a> </p>
         /div>
        
    </div>
</section>
